site_name: Qlue-ls, a SPARQL language server
site_url: https://docs.qlue-ls.com
repo_url: https://github.com/IoannisNezis/Qlue-ls
repo_name: IoannisNezis/Qlue-ls
theme:
  name: material
  logo: assets/logo.png
  palette:
    scheme: slate
    primary: black
markdown_extensions: 
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
nav:
  - Home: index.md
  - Getting Started: 01_getting_started.md
  - Capabilities: 02_capabilities.md
  - Configuration: 03_configuration.md
  - Standalone Formatter: 04_standalone_formatter.md
  - Completion Queries: 05_completion_queries.md
  - Development: 06_development.md
  - LSP Extensions: 07_lsp_extensions.md
  - Migration Guide: migration.md
